MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DBNAME=waybills_db
PORT=4000

EINV_CLIENT_ID=
EINV_SECRET_KEY=
EINV_INCOME_SOURCE_SEQ=
EINV_URL=https://backend.jofotara.gov.jo/core/invoices/
EINV_SUPPLIER_TAXNO=
EINV_SUPPLIER_CITY=عمان
