MONGO_URI=
MONGO_DBNAME=waybills_db
BOT_ENABLED=false
EINV_CLIENT_ID=
EINV_SECRET_KEY=
EINV_URL=
EINV_SUPPLIER_TAXNO=
EINV_SUPPLIER_CITY=
EINV_INCOME_SOURCE_SEQ=
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=
JWT_SECRET=
